*{
    font-family: 'Lato', sans-serif;
}

body{
    background-color: black;
    margin: 0;
}

.cont{
    max-width: 600px;
    height:100vh;
    margin: auto;
    position: relative;
    /*background-color: blueviolet;*/
    background-image: url('img/main_bg.jpg');
    background-size: 100% 100%;
}

@media screen and (max-width:767px){
    .cont{
        height:160vh;
    }
}


.header{
    height: 13vh;
}

.header-logo{
    height: 12vh;
    float: right;
}

.main-cont{
    height:40vh;
    width: 80vh;
    position: relative;
    top:3%;
}

.text-cont{
    text-align: center;
    color: white;
    font-size: 6vh;
}

.play-but-cont{
    left:38%;
    top:60%;
    position: absolute;
}

.play-but{
    height:8vh;
    width: 20vh;
    
    background-color: transparent;
    /*background-image: url('img/box.png');*/
    /*background-size: 100% 100%;*/
    border-radius: 35px;
    border-color: white;
    opacity: 0.8;
    font-size: 150%;
    
    color: rgb(255, 255, 255);
   /* box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 195, 255),
      0 0 82px rgb(0, 132, 255),
      0 0 92px rgb(0, 140, 255),
      0 0 102px rgb(0, 89, 255),
      0 0 151px rgb(0, 119, 255);

      */

}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(0, 195, 255),
        0 0 82px rgb(0, 132, 255),
        0 0 92px rgb(0, 140, 255),
        0 0 102px rgb(0, 89, 255),
        0 0 151px rgb(0, 119, 255);

    }
    20%, 24%, 55% {       
      box-shadow: none;
    }
  }

  .play-but{
    animation: flicker 3s infinite alternate;     
  }

