*{
    font-family: 'Lato', sans-serif;
}

/*For testing purpose
* { outline: 1px red solid !important; visibility: visible !important }
*/

body{
    background-color: black;
    margin: 0;
}

.cont{
    /*max-width: 600px;*/
    width:  600px;
    height:100vh;
    margin: auto;
    position: relative;
    /*background-color: blueviolet;*/
    background-image: url('img/main_bg.jpg');
    background-size: 100% 100%;
}

@media screen and (max-width:767px){
    .cont{
        height:100vh;
        width: 100vw;
    }
}


.header{
    height: 13vh;
}

.header-logo{
    height: 12vh;
    float: right;
}

@media screen and (max-width:767px){
    .header-logo{
        margin-right: 2vw;
    }
}

.main-cont{
    height:40vh;
    width: 39vw;
    position: relative;
    top:3%;
    align-items: center;
}

@media screen and (max-width:767px){
    .main-cont{
        height:40vh;
        width: 100vw;
    }
}


.text-cont{
    text-align: center;
    color: white;
    font-size: 6vh;
    /*word-spacing: 0.5em;*/
}

@media screen and (max-width:767px){
    .text-cont{
        font-size: 4vh;
        /*word-spacing: 0.2em;*/
    }
}

.play-but-cont{
    left:35%;
    top:70%;
    position: absolute;
}

@media screen and (max-width:767px){
    .play-but-cont{
        left:31%;
        top:50%;
        position: absolute;
    }
    
}


.play-but{
    height:8vh;
    width: 20vh;
    
    background-color: rgb(255, 255, 255);
    /*background-image: url('img/box.png');*/
    /*background-size: 100% 100%;*/
    border-radius: 35px;
    border-color: white;
    opacity: 0.8;
    font-size: 1.4em;
    cursor: pointer;
    color: black;
   /* box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 195, 255),
      0 0 82px rgb(0, 132, 255),
      0 0 92px rgb(0, 140, 255),
      0 0 102px rgb(0, 89, 255),
      0 0 151px rgb(0, 119, 255);

      */

}

@media screen and (max-width:767px){
    .play-but{
        font-size: 1.3em;
    }
    
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(0, 195, 255),
        0 0 82px rgb(0, 132, 255),
        0 0 92px rgb(0, 140, 255),
        0 0 102px rgb(0, 89, 255),
        0 0 151px rgb(0, 119, 255);

    }
    20%, 24%, 55% {       
      box-shadow: none;
    }
  }

  .play-but{
    animation: flicker 3s infinite alternate;     
  }

